#main{
   width: 100%;
   background-color: silver;
   margin: 0%;

}
#img-div{
    
    padding-left: 25%;
    padding-right: 25%;
    background-color: white;
    margin: 30px;
    padding-top: 20px;
    padding-bottom: 20px;

    
}
#title{
   font-family: Lucida Console,monospace;
}
header{
    padding: 10px;
}
#title-caption{
    width: 100%;
    text-align: center;
    font-family: Lucidatypewriter,monospace;
}
img{
    max-width: 100%;
    display: block;
}
h1{
    width: 100%;
    text-align: center;
}
li{
    padding: 10px;
   
}
p{
    font-style: italic;
}
ul,p {
    width: 50%;
    text-align: left;
    padding-left: 25%;
    
   
    

}
h2{
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    padding-bottom: 10px;
}
@media screen and (max-width: 600px) {
    ul{
        width: 100%;
        padding-left: 0%;
    
    }
    li{

 
    display: block;
}
    main{
        width: 100%;
    }
    #img-div{
        padding-left: 0%;
        padding-right: 0%;
        background-color: white;
        margin: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
    }
    img{
        width: 100%;
        display: block;
    }
    ul,p {
        width: 100%;
        text-align: left;
        padding-left: 10px;
        padding-right: 10px;
        
       
        
    
    }
}
