#main{
    text-align: center;
    background-color: #eee;
    padding: 15px;
}



#img-div{
    padding-bottom: 15px;
    background-color: white;
    

}
ul{
    padding-left: 25%;
    text-align: left;
    max-width: 550px;
    margin: 0;
}



#quote{
    font-style: italic;
   
text-align: center;
}
img {
    max-width: 100%;
    display: block;
    margin: auto;
    margin: 0 auto;
}
